<div class="flx fcl fii">
      <div class="flx frw fii">
        <div class="flx fcl bxs">
           <h2><span v-html="vlng.balances"></span></h2>
             <div class="flx fii pdd">
  <ul class="fii stg">
          <li class="flx frw scnt htg"><div v-html="vicons.balance"></div><h4 v-html="vlng.total"></h4><strong><span v-html="vbcd.getinfo.balance" class="duo"></span></strong></li>
           <li class="flx frw scnt htg"><div v-html="vicons.unconfirmed"></div><h4 v-html="vlng.unconfirmed"></h4><strong><span v-html="vbcd.unconfirmed" class="duo"></span></strong></li>
           <li class="flx frw scnt htg"><div v-html="vicons.txnumber"></div><h4 v-html="vlng.available"></h4><strong><span v-html="vbcd.unconfirmed" class="duo"></span></strong></li>
  </ul>
                  </div>
  </div>
  
  
        <div class="flx fcl fii bxs">
       
           <h2 v-html="vlng.latesttransactions"></h2>
               <section id="home_transactions" class="flx fii" v-bar>
          <b-table
            :data="transactions"
            :default-sort-direction="defaultSortDirection"
            default-sort="time">

            <template slot-scope="props">
               
<b-table-column field="category" :label=vlng.type width="32" sortable>
    <span v-if="props.row.category === 'send'" v-html="vicons.sent"></span>
    <span v-if="props.row.category === 'receive'" v-html="vicons.received"></span>
    <span v-if="props.row.category === 'immature'" v-html="vicons.unconfirmed"></span>
</b-table-column>

    <b-table-column field="time" :label=vlng.date sortable numeric><small>{{ new Date(props.row.time).toLocaleDateString() }}{{ new Date(props.row.time).toLocaleTimeString() }}</small></b-table-column>
                <b-table-column field="address" :label=vlng.address sortable><span v-html="props.row.address" class="tag"></span></b-table-column>
                <b-table-column field="amount" :label=vlng.amount sortable numeric>
                    <span v-html="props.row.amount" class="duo"></span>
                </b-table-column>

        </b-table>
    </section>

  
  
    </div>  </div>  </div>