<div class="tile is-ancestor">
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box is-radiusless">
      <p class="title" v-html="vlng.send"></p>
      
       <form id="signup-form" @submit="sendForm" class="flx fii">
 
      <ul class="fii stg">
          <li class="flx frw scnt htg"><div v-html="vicons.balance"></div><h4 v-html="vlng.payto"></h4><b-input type="text" name="address" v-model="address" required placeholder="Enter a ParallelCoin address (e.g. XXXXXXX)" /><button>Address Book</button><button>Paste</button><button>Remove</button></li>
          <li class="flx frw scnt htg"><div v-html="vicons.balance"></div><h4 v-html="vlng.label"></h4><b-input type="text" name="label" v-model="label" placeholder="Enter a label for the address (e.g. Loki)" /></li>
          <li class="flx frw scnt htg"><div v-html="vicons.balance"></div><h4 v-html="vlng.amount"></h4><b-input type="number" step="0.000001" name="amount" required v-model="amount" min="0" placeholder="Enter a ParallelCoin amount" /></li>
          <li class="flx frw scnt htg"><button type="submit" class="button is-danger" v-html="vlng.send"></button></li>
  </ul>

    </form>

  
    </div>
    <div class="tile is-child box is-radiusless">
      <p class="title">Two</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child box is-radiusless">
      <p class="title" v-html="vlng.senttransactionshistory"></p>
     <section>
        <b-field grouped group-multiline>
            <b-select v-model="perPage" :disabled="!isPaginated">
                <option value="5">5 {{ vlng.perpage}}</option>
                <option value="10">10 {{ vlng.perpage}}</option>
                <option value="15">15 {{ vlng.perpage}}</option>
                <option value="20">20 {{ vlng.perpage}}</option>
            </b-select>
            <div class="control is-flex">
                <b-switch v-model="isPaginated">Paginated</b-switch>
            </div>
        </b-field>

        <b-table
            :data="transactions"
            :paginated="isPaginated"
            :per-page="perPage"
            :current-page.sync="currentPage"
            :pagination-simple="isPaginationSimple"
            :default-sort-direction="defaultSortDirection"
            default-sort="time">

            <template slot-scope="props">
               <b-table-column field="time" :label=vlng.date sortable centered numeric>
<span>
    {{ new Date(props.row.time).toLocaleDateString() }}
    {{ new Date(props.row.time).toLocaleTimeString() }}
</span>
            </b-table-column>
                <b-table-column field="address" :label=vlng.address sortable>
                  <span v-html="props.row.address" class="tag"></span>
                </b-table-column>
                <b-table-column field="amount" :label=vlng.amount width="180" sortable numeric>
                    <span v-html="props.row.amount" class="duo"></span>
                </b-table-column>

        </b-table>
    </section>

    </div>
  </div>
</div>
